#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.project {
  box-sizing: border-box;
  width: 32%;
  margin: 2px;
}

.portfolio {
  width: 900px;
  flex-wrap: wrap;
  justify-content: space-between;

}

.toolbar__item {
  border: solid #1a1a1a 1px;
  padding: 5px 7px;
  margin: 2px;
  user-select: none;
}

.toolbar__item:hover {
  background-color: #888888;
  transition-duration: 0.5s;
  color: white;
}

.toolbar__item-active {
    background-color: #888888;
    border: solid #1a1a1a 1px;
  padding: 5px 7px;
  margin: 2px;
  user-select: none;
  transition-duration: 0.5s;
  color: white;
}

.toolbar {
  display: flex;

}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
